html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  font: 16px Arial, Helvetica, sans-serif;
}

.main {
  padding: 20px 50px;
  flex: 1 0 auto;
  box-sizing: border-box;
}

@media screen and (max-width:860px) {
  details>pre {
    display: none;
  }
}

a {
  text-decoration: none;
}

h1 {
  padding: 20px 10px;
}

h3 {
  padding: 10px 0 0 20px;
  color: #3E7587;
  text-align: center;
}

img {
  object-fit: cover;
}

.tabs {
  width: 100%;
  padding: 0px;
  margin: 0 auto;
}

.tabs>input {
  display: none;
}

.tabs>section {
  display: none;
  padding: 12px;
  border: 1px solid #828282;
  background: #FFFFFF;
}

.tabs>label {
  display: inline-block;
  padding: 7px;
  margin: 0 -5px -1px 0;
  text-align: center;
  color: #3E7587;
  border: 1px solid #828282;
  background: #bfcbcf;
  cursor: pointer;
}

.tabs>label:hover {
  color: white;
}

.tabs>input:checked+label {
  color: #000000;
  border: 1px solid #828282;
  border-bottom: 1px solid #FFFFFF;
  background: #FFFFFF;
}

#tab_1:checked~#txt_1,
#tab_2:checked~#txt_2,
#tab_3:checked~#txt_3,
#tab_4:checked~#txt_4 {
  display: block;
}

#txt_1, #txt_2, #txt_3, #txt_4{
  background-color: #bfcbcf;
}

ol {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

ol>li {
  width: 700px;
  background-color: #FFF5EB;
  border: 1px solid #828282;
  margin: 10px 40px 10px 0;
  padding: 20px;
  box-sizing: border-box;
}

pre {
  margin-left: -50px;
  margin-top: 5px;
}

summary {
  outline: none;
}

.btn {
  margin: 10px 0;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  border: solid 1px #004F72;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-sizing: border-box;
  font-weight: bold;
  color: #bfcbcf;
  background-color: #b4e3f0;
  background-image: -moz-linear-gradient(top, #b4e3f0 0%, #125970 100%);
  background-image: -webkit-linear-gradient(top, #b4e3f0 0%, #125970 100%);
  background-image: -o-linear-gradient(top, #b4e3f0 0%, #125970 100%);
  background-image: -ms-linear-gradient(top, #b4e3f0 0%, #125970 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#125970', endColorstr='#125970', GradientType=0);
  background-image: linear-gradient(top, #b4e3f0 0%, #125970 100%);
  -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
  -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
  box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
}

.btn:hover {
  color: #e9f0f2;
  -webkit-box-shadow: 5px 6px 9px #bababa;
  -moz-box-shadow: 5px 6px 9px #bababa;
  box-shadow: 5px 6px 9px #bababa;
}

.btn:active {
  color: #e9f0f2;
  -webkit-box-shadow: 4px 6px 9px #bababa, inset -1px 2px 20px #01040d;
  -moz-box-shadow: 4px 6px 9px #bababa, inset -1px 2px 20px #01040d;
  box-shadow: 4px 6px 9px #bababa, inset -1px 2px 20px #01040d;
}

footer {
  flex: 0 0 auto;
  border-top: 1px solid #828282;
  padding: 20px;
  text-align: center;
}
